<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>Starter Template - Materialize</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
  <nav class="black lighten-1" role="navigation">
    <div class="nav-wrapper container">
        <a id="logo-container" href="#" class="brand-logo" style="display:flex;">
            <img class="circle responsive-img logo-img" src="/images/marissa.jpg" alt="Marissa Twitchell" style="padding: 5px;">
            Marissa Twitchell
        </a>
      <ul class="right hide-on-med-and-down">
        <li><a href="https://mrdandmrsm.blogspot.com">Blog</a></li>
        <li><a href="https://www.linkedin.com/in/marissanielsen">Resume</a></li>
        <li><a href="https://www.linkedin.com/in/marissanielsen">Contact</a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="https://mrdandmrsm.blogspot.com">Blog</a></li>
        <li><a href="https://www.linkedin.com/in/marissanielsen">Resume</a></li>
        <li><a href="https://www.linkedin.com/in/marissanielsen">Contact</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>
  
  <div class="section no-pad-bot" id="index-banner" class="parallax-container" style="background-color: #e5e5e5;">
      
    <div class="section no-pad-bot">
    
    <div style="display: flex; flex-wrap: wrap;">
        <div id="cards-example" class="row">
        <div class="col s12 m7">
          <div class="card micro">
            <img class="materialboxed" width="200" src="images/cards-crop/marissa_7_crop.jpg">
            <div class="card-content"><a href="https://mrdandmrsm.blogspot.com">Company Event</a></div>
          </div>
        </div>
      </div>
      <div id="cards-example" class="row">
        <div class="col s12 m7">
          <div class="card micro">
            <img class="materialboxed" width="200" src="images/cards-crop/marissa_6_crop.jpg">
            <div class="card-content"><a href="https://mrdandmrsm.blogspot.com">Hiking</a></div>
          </div>
        </div>
      </div>
            <div id="cards-example" class="row">
        <div class="col s12 m7">
          <div class="card micro">
            <img class="materialboxed" width="200" src="images/cards-crop/marissa_8_crop.jpg">
            <div class="card-content"><a href="https://mrdandmrsm.blogspot.com">With Tulips</a></div>
          </div>
        </div>
      </div>
      <div id="cards-example" class="row">
        <div class="col s12 m7">
          <div class="card micro">
            <img class="materialboxed" width="200" src="images/cards-crop/marissa_11_crop.jpg">
            <div class="card-content"><a href="https://mrdandmrsm.blogspot.com">At A Game</a></div>
          </div>
        </div>
      </div>
	</div>
        
    <div class="container">
      <div class="row center">
        <h5 class="header col s12 black-text light">Hi, my name is Marissa. I am a software development engineer at Expedia, where I work on their website. I enjoy blogging and going on adventures with my husband, David.</h5>
      </div>
      <div class="row center">
        <a href="https://www.linkedin.com/in/marissanielsen" id="download-button" class="btn-large waves-effect waves-light purple">Connect with Me</a>
      </div>
      <br><br>

    </div>
    </div>
    <!--<div class="parallax"><img src="/images/pnw.jpeg" alt="Unsplashed background img 1" style="display: block; transform: translate3d(-50%, -550px, 0px);"></div>-->
  </div>


  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center black-text"><i class="material-icons">flash_on</i></h2>
            <h5 class="center purple-text">Loves solving problems</h5>

            <p class="light">I have always loved solving problems. At Expedia I work on a constantly changing website and our team works hard to make sure to resolve problems before they reach the livesite. </p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center black-text"><i class="material-icons">group</i></h2>
            <h5 class="center purple-text">Is easy to work with</h5>

            <p class="light">I am easy to work with. I work in a small, close-knit team at Expedia where we enjoy keeping our products making money.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center black-text"><i class="material-icons">settings</i></h2>
            <h5 class="center purple-text">Can work independently</h5>

            <p class="light">I enjoy working independently. I am not someone who enjoys spending a lot of time in meetings, but instead, I enjoy thinking through problems and offering reccommendations to my manager and team for making things better.</p>
          </div>
        </div>
      </div>

    </div>
    <br><br>

    <div class="section">

    </div>
  </div>

  <footer class="page-footer purple">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Marissa Twitchell Bio</h5>
          <p class="grey-text text-lighten-4">Hi, my name is Marissa. I am a software development engineer at Expedia, where I work on their website. I enjoy blogging and going on adventures with my husband, David.</p>


        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Blog</h5>
          <ul>
            <li><a class="white-text" href="https://mrdandmrsm.blogspot.com/2016/08/my-involvement-with-girls-who-code.html">Girls Who Code</a></li>
            <li><a class="white-text" href="https://mrdandmrsm.blogspot.com/2016/04/weekend-trip-to-victoria-bc-canada-for.html">Our Third Anniversary</a></li>
            <li><a class="white-text" href="https://mrdandmrsm.blogspot.com/2016/03/our-dual-income-no-kids-story.html">"Dual Income, No Kids"</a></li>
            <li><a class="white-text" href="https://mrdandmrsm.blogspot.com/2016/06/camping-adventure-at-penrose-point.html">Camping</a></li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Connect</h5>
          <ul>
            <li><a class="white-text" href="https://www.linkedin.com/in/marissanielsen">LinkedIn</a></li>
            <li><a class="white-text" href="https://stackoverflow.com/users/1483546/satoukum">StackOverflow</a></li>
            <li><a class="white-text" href="https://github.com/satoukum">Github</a></li>
            <li><a class="white-text" href="https://www.youtube.com/user/datamininglab">YouTube</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Made by <a class="purple-text text-lighten-3" href="#">Marissa Twitchell</a>
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="js/materialize.js"></script>
  <script src="js/init.js"></script>

  </body>
</html>
