img.logo-img {
  width: 60px;
  height: 60px;
}

.card.micro .card-action {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.card.micro {
  height: 200px;
  width: 200px;
  margin-bottom: 80px;
}

.card-content {
  color: black;
  transition: color .3s ease;
  text-transform: uppercase;
  background-color: white;
  padding-bottom:20px;
}